.container {
  width: 630px;
  height: 400px;
  margin: auto;
}

.lyrics {
  font-size: 60px;
}

.line {
  margin: 0 auto;
  display: table;
}

.lyric {
  display: inline;
  margin-right: 10px;
}

.syllable.active {
  color: red;
}

.keyboard {
  float: left;
  width: 30px;
}

.keyboard ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.note.white {
  height: 10px;
  width: 30px;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.note.black {
  height: 10px;
  width: 30px;
  box-sizing: border-box;
  border: 1px solid #000000;
  background-color: #000000;
}

.note.active {
  height: 10px;
  width: 30px;
  background-color: #ff0000;
}

.animated-notes {
  height: 400px;
  width: 600px;
  float: left;
}

.game-canvas {
  height: 400px;
  width: 500px;
}
